.island {
  background-color: mediumslateblue;
  display: flex;

  margin: 5%;

  border: 64px solid transparent;
  border-image: url("assets/deco/border.png") 16 round;
  border-image-width: 64px;
}

.island div {
  margin: 10px;
  background-color: white;
  padding: 5px;
}

.overlay {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: lightseagreen;
  background-image: url("assets/bg/pattern2.png");
  background-size: 128px 128px;
  image-rendering: pixelated;
}
